In [ ]:
#import libraries 
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
#the .get function retireves the url with the table that needs to be scraped and then beautiful soup parses it for html   
url = 'https://www.espn.com/nfl/stats/team/_/view/offense/stat/passing/table/passing'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

In [ ]:
#the find all functions find all the tables with the 'tbody' tags with the calss 'Table_TBODY' and stores them in the list assigned to the variable all_tables.
#the first item in the list contains the names and the second item contains the all the data  
all_tables = soup.find_all('tbody', class_='Table__TBODY')
names = all_tables[0]
values = all_tables[1]

In [ ]:
#The empty lists will be appended with dae data form the tables that will then be used to create the dataframe 
teams = []
gp = []
completions = [] 
attempts = []
completion_percent = [] 
yards = [] 
average = [] 
yards_per_game = [] 
longest_pass = []
touchdowns = []
interceptions = [] 
sacks = []
sack_yards_lost = []
passer_rating= []

#the find all function finda all the rows in the names table then the for loop finds the values in each row an appends them to the 'teams' list  
names_trs = names.find_all('tr')
for x in names:
    teams.append(x.get_text())

#the first find all function finds all the rows in the values table then the for loop finds all the values in these rose then appends them to the approriate list  
values_trs = values.find_all('tr')
for x in values_trs:
  tds = x.find_all('td')
  gp.append(float(tds[0].get_text()))
  completions.append(float(tds[1].get_text()))
  attempts.append(float(tds[2].get_text()))
  completion_percent.append(float(tds[3].get_text()))
  yards.append(float(tds[4].get_text().replace(',', '')))
  average.append(float(tds[5].get_text()))
  yards_per_game.append(float(tds[6].get_text()))
  longest_pass.append(float(tds[7].get_text()))
  touchdowns.append(float(tds[8].get_text()))
  interceptions.append(float(tds[9].get_text()))
  sacks.append(float(tds[10].get_text()))
  sack_yards_lost.append(float(tds[11].get_text()))
  passer_rating.append(float(tds[12].get_text()))

In [ ]:
#creating a series that will used to create the dataframe 
passing_data = {
            'Team Name' : teams,
            'Games Played' : gp,
            'Completions' : completions,
            'Pass Attempts' : attempts,
            'Completion Percentage' : completion_percent,
            'Total Yards' : yards,
            'Average' : average,
            'Yards per Game' : yards_per_game,
            'Longest Pass' : longest_pass,
            'Touchdowns' : touchdowns,
            'Interceptions' : interceptions,
            'Sacks' : sacks,
            'Yards Lost' : sack_yards_lost,
            'Passer Rating' : passer_rating,
            }


#creates dataframe using pandas 
passing_df = pd.DataFrame(passing_data)
passing_df.to_csv ('PassingData.csv')
passing_df

,Team Name,Games Played,Completions,Pass Attempts,Completion Percentage,Total Yards,Average,Yards per Game,Longest Pass,Touchdowns,Interceptions,Sacks,Yards Lost,Passer Rating
0,Kansas City Chiefs,17.0,435.0,651.0,66.8,5062.0,8.1,297.8,67.0,41.0,12.0,26.0,188.0,104.7
1,Tampa Bay Buccaneers,17.0,499.0,751.0,66.4,4586.0,6.3,269.8,63.0,26.0,10.0,22.0,160.0,89.8
2,Los Angeles Chargers,17.0,485.0,711.0,68.2,4584.0,6.7,269.6,55.0,26.0,10.0,39.0,207.0,93.3
3,Miami Dolphins,17.0,368.0,584.0,63.0,4511.0,8.2,265.4,84.0,30.0,15.0,35.0,254.0,95.0
4,Cincinnati Bengals,16.0,418.0,610.0,68.5,4240.0,7.4,265.0,60.0,35.0,12.0,44.0,280.0,101.0
5,Minnesota Vikings,17.0,448.0,672.0,66.7,4484.0,7.2,263.8,66.0,30.0,15.0,47.0,334.0,93.1
6,Buffalo Bills,16.0,361.0,574.0,62.9,4129.0,7.5,258.1,98.0,35.0,14.0,33.0,162.0,95.8
7,Detroit Lions,17.0,383.0,588.0,65.1,4281.0,7.6,251.8,81.0,29.0,7.0,24.0,163.0,99.3
8,Philadelphia Eagles,17.0,350.0,536.0,65.3,4105.0,8.1,241.5,78.0,25.0,9.0,44.0,259.0,99.0
9,Jacksonville Jaguars,17.0,394.0,596.0,66.1,3959.0,7.0,232.9,59.0,25.0,9.0,28.0,189.0,93.9
10,Las Vegas Raiders,17.0,359.0,586.0,61.3,3934.0,7.1,231.4,60.0,28.0,17.0,35.0,248.0,86.7
11,Seattle Seahawks,17.0,399.0,573.0,69.6,3934.0,7.5,231.4,54.0,30.0,12.0,46.0,348.0,100.0
12,San Francisco 49ers,17.0,338.0,512.0,66.0,3856.0,7.9,226.8,57.0,30.0,9.0,31.0,193.0,102.3
13,Dallas Cowboys,17.0,355.0,556.0,63.8,3736.0,7.0,219.8,68.0,28.0,18.0,27.0,175.0,87.9
14,New York Jets,17.0,357.0,627.0,56.9,3723.0,6.4,219.0,79.0,15.0,14.0,42.0,317.0,75.0
15,New Orleans Saints,17.0,338.0,512.0,66.0,3692.0,7.8,217.2,68.0,24.0,14.0,38.0,277.0,93.6
16,Green Bay Packers,17.0,364.0,563.0,64.7,3632.0,6.9,213.6,63.0,27.0,12.0,32.0,258.0,91.9
17,Arizona Cardinals,17.0,433.0,664.0,65.2,3626.0,6.0,213.3,77.0,17.0,17.0,46.0,340.0,79.2
18,Denver Broncos,17.0,345.0,571.0,60.4,3592.0,7.0,211.3,67.0,18.0,15.0,63.0,415.0,81.2
19,New England Patriots,17.0,358.0,540.0,66.3,3536.0,7.1,208.0,53.0,19.0,14.0,41.0,279.0,87.7
20,Washington Commanders,17.0,344.0,554.0,62.1,3472.0,6.8,204.2,75.0,24.0,16.0,48.0,311.0,84.7
21,Cleveland Browns,17.0,335.0,540.0,62.0,3444.0,6.9,202.6,55.0,19.0,12.0,44.0,266.0,84.9
22,Indianapolis Colts,17.0,398.0,604.0,65.9,3432.0,6.4,201.9,49.0,17.0,20.0,60.0,422.0,79.2
23,Pittsburgh Steelers,17.0,364.0,571.0,63.7,3411.0,6.4,200.6,57.0,12.0,14.0,38.0,250.0,78.7
24,Houston Texans,17.0,352.0,579.0,60.8,3344.0,6.3,196.7,58.0,20.0,19.0,38.0,298.0,76.8
25,New York Giants,17.0,346.0,520.0,66.5,3157.0,6.6,185.7,65.0,17.0,6.0,49.0,274.0,91.1
26,Los Angeles Rams,17.0,347.0,531.0,65.3,3108.0,6.6,182.8,75.0,16.0,15.0,59.0,398.0,82.3
27,Baltimore Ravens,17.0,300.0,488.0,61.5,3040.0,6.6,178.8,75.0,19.0,13.0,38.0,162.0,82.5
28,Carolina Panthers,17.0,267.0,457.0,58.4,2996.0,7.1,176.2,75.0,16.0,13.0,36.0,250.0,80.2
29,Tennessee Titans,17.0,285.0,456.0,62.5,2914.0,7.1,171.4,69.0,16.0,11.0,49.0,313.0,85.3
30,Atlanta Falcons,17.0,257.0,415.0,61.9,2699.0,7.1,158.8,75.0,17.0,9.0,37.0,228.0,87.7
31,Chicago Bears,17.0,223.0,377.0,59.2,2219.0,6.9,130.5,56.0,19.0,15.0,58.0,379.0,80.3

In [ ]:
#using the .descibe() function from beautiful soup to show different stats of each of the coloumns 
passing_df.describe()

,Games Played,Completions,Pass Attempts,Completion Percentage,Total Yards,Average,Yards per Game,Longest Pass,Touchdowns,Interceptions,Sacks,Yards Lost,Passer Rating
count,32.000000,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,16.937500,362.656250,564.656250,64.03125,3701.187500,7.050000,218.678125,66.906250,23.437500,13.062500,40.531250,268.656250,88.878125
std,0.245935,59.952459,78.916701,3.01795,614.654922,0.569097,37.133992,10.946672,6.969692,3.369096,10.441803,75.531497,8.177772
min,16.000000,223.000000,377.000000,56.90000,2219.000000,6.000000,130.500000,49.000000,12.000000,6.000000,22.000000,160.000000,75.000000
25%,17.000000,342.500000,528.250000,61.97500,3394.250000,6.600000,199.625000,57.750000,17.000000,10.750000,34.500000,203.500000,82.025000
50%,17.000000,357.500000,571.000000,64.90000,3662.000000,7.000000,215.400000,66.500000,24.000000,13.500000,38.500000,262.500000,87.800000
75%,17.000000,395.000000,598.000000,66.15000,4111.000000,7.425000,244.075000,75.000000,28.250000,15.000000,46.250000,314.000000,94.175000
max,17.000000,499.000000,751.000000,69.60000,5062.000000,8.200000,297.800000,98.000000,41.000000,20.000000,63.000000,422.000000,104.700000